<div class="jumbotron">
  <div class="container">
    <h1 class="text-center">What Ruby datatype are you?</h1>
  </div>
</div>
<div class="container">
  <form action="/quiz_results">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <% @questions.each_with_index do |question_hash, index| %>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><%= index + 1 %>. <%= question_hash['question'] %> </h3>
            </div>
            <div class="panel-body">

              <div class="radio">
                <label>
                  <input type="radio" name="question-1" id="" value="">
                  Justice over mercy
                </label>
              </div>

            </div>
          </div>
        <% end %>

        <button type="submit" class="btn btn-info btn-lg btn-block">Submit</button>
      </div>
    </div>
  </form>
</div>
