<div class="jumbotron">
  <div class="container">
    <h1 class="text-center">You're a string!</h1>
  </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2>You're the king/queen of quotations. You have a literary spirit and value the nuance that's only possible in individual narratives.</h2>
      </div>
    </div>
</div>
